html {
	font-size: 62.5%;
}

body {
	margin: 0 auto;
	font-family: 'Nunito';
	color: #000;
}

h1, h2, p {
	margin: 0;
	padding: 0;
}

header {
	background: linear-gradient(80deg, #FFEBCD 0%, #FF8B72 100%);
	min-width: 42.2em;
	
}

.header-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8.5em 5em 7.3em 5em;
	box-sizing: border-box;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading h1 {
	font-size: 3.6rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
}

.heading p {
	font-size: 1.8rem;
	font-weight: normal;
	width: 30rem;
	margin-bottom: 2.5rem;
	text-align: center;
}

.image-wrapper img {
	width: 30.5em;
	height: 23.3em;
	border-radius: 1.6em;
	box-shadow: 0.5em 0.5em 1em #000;
}

.image-wrapper img:nth-of-type(2), img:nth-of-type(3) {
	display: none;
}

/* For Cards */

main {
	min-width: 42.2em;
	margin: 0 auto;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 9.1em;
}

.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 27em;
	margin-bottom: 7.5em;
}

.card-container img {
	width: 5em;
	height: 5em;
	margin-bottom: 2.5em;
}

.card-container h2 {
	font-size: 3.2rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
}

.card-container p {
	font-size: 1.8rem;
	font-weight: normal;
	text-align: center;
}

/* For Tablet Size */
@media only screen and (min-width: 834px) {

	.heading h1 {
		font-size: 5em;
		margin-top: 80px;
	}

	.heading p {
		font-size: 2.4rem;
		width: 600px;
	}

	main {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header-wrapper {
		padding: 0;
	}

	.image-wrapper img:nth-of-type(2), img:nth-of-type(3) {
		display: inline-block;
	}
	.image-wrapper {
		display: flex;
		justify-content: center;
		align-content: flex-end;
		gap: 3.4em;
		padding: 5em;
	}

	.image-wrapper img {
		width: 19.5em;
		height: 14.9em;
	}

	.image-wrapper img:nth-of-type(2) {
		position: relative;
		top: 100px;
	}

	.container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 700px;
		align-items: center;
	}

	.container .card-container {
		align-items: flex-start;

	}

	.container .card-container:nth-of-type(1) {
		width: 100%;
		flex-grow: 1;
	}

	.container .card-container p {
		text-align: left;
	}
}

/* For Desktop */

@media only screen and (min-width: 1200px) {
	header {
		width: 100%;
		height: 50vh;
	}
	.header-wrapper {
		flex-direction: row;
		justify-content: center;
		align-items: flex;
		height: 55em;
	}

	.heading {
		align-items: flex-start;
	}
	
	.heading h1 {
		margin-top: 0;
	}
	
	.heading p {
		text-align: left;
		width: 50rem;
	}

	.image-wrapper {
		flex-direction: column;
		height: 50em;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.image-wrapper img:nth-of-type(2) {
		top: 0;
	}

	main {
		width: 100%;
	}

	.container {
		flex-direction: row;
		align-items: center;
		gap: 100px;
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	.card-container {
		width: 250px;
	}
	
	.container .card-container:nth-of-type(1) {
		width: 300px;
		flex-grow: 0;
	}
}